<!doctype html>
<html> </html>

<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <LINK REL="stylesheet" HREF="main.css" TYPE="text/css">
  <title> Welcome | Dmitry Legchikov </title>
</head>
<body>
  <H1> <strong><em> Legchikov Dmitry </em></strong> </H1></H2>
  <HR>
  <H2> <BLOCKQUOTE><EM.redtext>Lady Luck favors the one who tries </EM></BLOCKQUOTE></H2>
  <P>Приветствую всех в моем блоге!</P>
  <P> <A HREF="blog_test_v1_about_me.html"> About Me </A></P>
  <P>Здесь я делюсь своими знаниями и умениями в различных областях.</P>
  <IMG SRC="photo_1.jpg" ALT="Тут должен быть я" width="300" height="400" align="right">
</body>
